#footer {
  background-color: #f5f5f5;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: #2a2828;
  background-color: #5f5f5c;
  z-index: 1000;
  box-shadow: 0 2px 4px rgb(0, 0, 0);
  padding-bottom: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
  top: auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
