.background {
  background: url('../../assets/images/homePageBackground.jpg') no-repeat;
  height: 80vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff634;
  font-weight: 700;
  font-size: 54px;
}
.subTitle {
  font-size: 34px;
  font-weight: 600;
}
.addRecipe {
  margin-top: 20px;
  background: #fff634;
  color: #61625d;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.addRecipe:hover {
  background: #fff;
}
.top3 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.homePage > h1 {
  background: #fff634;
  margin: 20px 0;
}
@media only screen and (max-width: 768px) {
  .background {
    font-size: 34px;
  }
  .subTitle {
    font-size: 16px;
  }
}
